[SR-8439] Provide UUID RFC 4122 compliant string


   |                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-8439      |
   |Radar             | None         |
   |Original Reporter | --marc (JIRA User)      |
   |Type              | New Feature    |

   <details>
  <summary>Additional Detail from JIRA</summary>

   |                  |                 |
   |------------------|-----------------|
   |Votes             | 0         |
   |Component/s       | Foundation    |
   |Labels            | New Feature        |
   |Assignee          | None      |
   |Priority          | Medium      |

   

   md5: 27c88bab4d8dd03210ae237df173c850

  </details>




**relates to**:  
* [SR-9091](https://bugs.swift.org/browse/SR-9091) UUID does not follow RFC for string representation  


**Issue Description:**


This proposed feature addition is that \`UUID\` provide some call which returns an [RFC 4122 section 3 compliant ⇗](https://tools.ietf.org/html/rfc4122) compliant lowercased UUID string.

> The hexadecimal values "a" through "f" are output as lower case characters and are case insensitive on input.

This proposed addition is NOT to replace or remove the \`uuidString\` method which is compliant with Objective-C NSUUID. see SR-865 ⇗

Possible implementation:

1.  Add a some \`rfc4122String\` which has an autocomplete prompt like "Returns a lowercased, RFC 4122 compliant, string created from the UUID, such as 'e621e1f8-c36c-495a-93fc-0c247a3e6e5f'"

2.  Update \`uuidString\` autocomplete prompt to expressly state uppercased. For example, "Returns an UPPERCASED string created from the UUID, such as 'E621E1F8-C36C-495A-93FC-0C247A3E6E5F'" and perhaps also add something like "… consistent with NSUUID."


   